body
{
    background-color: blueviolet;
    font-size: 25px;
}
h1{
    text-align: center;
    color: red;
    text-decoration: underline;
}
h2{
    color: yellow;
    font-size: 35px;
}
h3{
    font-style: italic;
    color: white;
}
